*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --title: #e53170;
    --bgcard: #0f0e17;
    --mail:#0babee;
}

.main-container{
    max-width: 1200px;
}

h1{
    padding: 20px;
    text-align: center;
    color: var(--title);
    font-family: 'Fredoka', sans-serif; 
}

p{
    padding: 20px;;
    text-align: center;
    font-family: 'Fredoka', sans-serif; 
}